In [3]:
import pandas as pd

file_path = r'C:\Users\ACER\Downloads\archive\Global Population Trends(2016-2022).csv'

data = pd.read_csv(file_path)
print(data.head(2))

       Country  Year Total Population Urban Population Rural Population  \
0  Afghanistan  2017                -                -                -
1  Afghanistan  2018       36,686,784        9,353,296       27,333,488

  Population Density Life Expectancy  Birth Rate  Death Rate Fertility Rate  \
0                 55            63.0      37.342       7.027          5.129
1                 56            63.0      36.927       6.981          5.002

  Infant Mortality Rate Growth Rate
0                  49.4           -
1                  47.8         3.0

In [4]:
print(data.shape)

(1073, 12)

In [5]:
print(data.columns)

Index(['Country', 'Year', 'Total Population', 'Urban Population',
       'Rural Population', 'Population Density', 'Life Expectancy',
       'Birth Rate', 'Death Rate', 'Fertility Rate', 'Infant Mortality Rate',
       'Growth Rate'],
      dtype='object')

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1073 non-null   object
 1   Year                   1073 non-null   int64
 2   Total Population       1073 non-null   object
 3   Urban Population       1073 non-null   object
 4   Rural Population       1073 non-null   object
 5   Population Density     1073 non-null   object
 6   Life Expectancy        1073 non-null   object
 7   Birth Rate             1073 non-null   float64
 8   Death Rate             1073 non-null   float64
 9   Fertility Rate         1073 non-null   object
 10  Infant Mortality Rate  1073 non-null   object
 11  Growth Rate            1073 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 100.7+ KB
None

In [7]:
df1=data[data['Total Population']!='-']
print(df1)

          Country  Year Total Population Urban Population Rural Population  \
1     Afghanistan  2018       36,686,784        9,353,296       27,333,488
2     Afghanistan  2019       37,769,499        9,727,157       28,042,342
3     Afghanistan  2020       38,972,230       10,142,913       28,829,317
4     Afghanistan  2021       40,099,462       10,551,772       29,547,690
6         Albania  2018        2,866,376        1,728,969        1,137,407
...           ...   ...              ...              ...              ...
1067       Zambia  2021       19,473,125        8,800,295       10,672,830
1069     Zimbabwe  2018       15,052,184        4,848,158       10,204,026
1070     Zimbabwe  2019       15,354,608        4,945,719       10,408,889
1071     Zimbabwe  2020       15,669,666        5,052,214       10,617,452
1072     Zimbabwe  2021       15,993,524        5,166,388       10,827,136

     Population Density Life Expectancy  Birth Rate  Death Rate  \
1                    56            63.0      36.927       6.981
2                    58            64.0      36.466       6.791
3                    60            63.0      36.051       7.113
4                     -            62.0      35.842       7.344
6                   105            79.0      10.517       8.308
...                 ...             ...         ...         ...
1067                  -            61.0      34.511       6.973
1069                 39            61.0      32.074       7.972
1070                 40            61.0      31.518       8.043
1071                 41            61.0      31.009       8.132
1072                  -            59.0      30.537       9.057

     Fertility Rate Infant Mortality Rate Growth Rate
1             5.002                  47.8         3.0
2              4.87                  46.3         3.0
3              4.75                  44.8         3.0
4             4.643                  43.4         3.0
6              1.44                   8.3         0.0
...             ...                   ...         ...
1067          4.308                  40.2         3.0
1069          3.659                  38.0         2.0
1070          3.599                  37.1         2.0
1071          3.545                  36.6         2.0
1072          3.491                  35.7         2.0

[864 rows x 12 columns]

In [8]:
print(data.max())

Country                    Zimbabwe
Year                           2021
Total Population             99,258
Urban Population         99,876,265
Rural Population            998,397
Population Density               99
Life Expectancy                85.0
Birth Rate                   46.351
Death Rate                     21.7
Fertility Rate                7.084
Infant Mortality Rate           9.9
Growth Rate                     5.0
dtype: object

In [9]:
print(data.min())

Country                  Afghanistan
Year                            2017
Total Population                   -
Urban Population                   -
Rural Population                   -
Population Density                 -
Life Expectancy                    -
Birth Rate                       0.0
Death Rate                       0.0
Fertility Rate                     -
Infant Mortality Rate              -
Growth Rate                        -
dtype: object

In [10]:
print(data.describe())

              Year   Birth Rate   Death Rate
count  1073.000000  1073.000000  1073.000000
mean   2019.013048    18.801519     7.841907
std       1.410190     9.903449     2.973418
min    2017.000000     0.000000     0.000000
25%    2018.000000    10.620000     6.067000
50%    2019.000000    16.025000     7.396000
75%    2020.000000    25.921000     9.313000
max    2021.000000    46.351000    21.700000

In [15]:
data = data.sort_values(by = 'Country', ascending = False )
data.head()

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
1072,Zimbabwe,2021,"15,993,524","5,166,388","10,827,136",-,59.0,30.537,9.057,3.491,35.7,2.0
1069,Zimbabwe,2018,"15,052,184","4,848,158","10,204,026",39,61.0,32.074,7.972,3.659,38.0,2.0
1068,Zimbabwe,2017,-,-,-,38,61.0,32.516,8.266,3.706,39.5,-
1071,Zimbabwe,2020,"15,669,666","5,052,214","10,617,452",41,61.0,31.009,8.132,3.545,36.6,2.0
1070,Zimbabwe,2019,"15,354,608","4,945,719","10,408,889",40,61.0,31.518,8.043,3.599,37.1,2.0

In [3]:
import numpy as np

my_array = np.arange(5, 101, 5)
print(my_array)

[  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
  95 100]

In [4]:
my_array_10 = my_array[my_array % 10 == 0]
print(my_array_10)

[ 10  20  30  40  50  60  70  80  90 100]

In [5]:
my_array_2d = my_array.reshape(-1, 2)
print(my_array_2d)

[[  5  10]
 [ 15  20]
 [ 25  30]
 [ 35  40]
 [ 45  50]
 [ 55  60]
 [ 65  70]
 [ 75  80]
 [ 85  90]
 [ 95 100]]

In [6]:
my_second_array = my_array_2d - 5
print(my_second_array)

[[ 0  5]
 [10 15]
 [20 25]
 [30 35]
 [40 45]
 [50 55]
 [60 65]
 [70 75]
 [80 85]
 [90 95]]

In [7]:
combined_array = np.hstack((my_array_2d, my_second_array))

print(combined_array)

[[  5  10   0   5]
 [ 15  20  10  15]
 [ 25  30  20  25]
 [ 35  40  30  35]
 [ 45  50  40  45]
 [ 55  60  50  55]
 [ 65  70  60  65]
 [ 75  80  70  75]
 [ 85  90  80  85]
 [ 95 100  90  95]]

In [11]:
sec_delit = combined_array[1]/combined_array[3]
thd_delit = combined_array[1]/combined_array[3]

print(sec_delit)
print(thd_delit)

[0.42857143 0.5        0.33333333 0.42857143]
[0.42857143 0.5        0.33333333 0.42857143]

In [12]:
combined_array_2 = combined_array.copy().astype(float)
combined_array_2[1]= sec_delit
combined_array_2[2]= thd_delit
print(combined_array_2)

[[  5.          10.           0.           5.        ]
 [  0.42857143   0.5          0.33333333   0.42857143]
 [  0.42857143   0.5          0.33333333   0.42857143]
 [ 35.          40.          30.          35.        ]
 [ 45.          50.          40.          45.        ]
 [ 55.          60.          50.          55.        ]
 [ 65.          70.          60.          65.        ]
 [ 75.          80.          70.          75.        ]
 [ 85.          90.          80.          85.        ]
 [ 95.         100.          90.          95.        ]]

In [13]:
similar_elements = np.all(combined_array_2 == combined_array, axis=1)
unchanged_elements = combined_array_2[similar_elements]  
print(unchanged_elements)

[[  5.  10.   0.   5.]
 [ 35.  40.  30.  35.]
 [ 45.  50.  40.  45.]
 [ 55.  60.  50.  55.]
 [ 65.  70.  60.  65.]
 [ 75.  80.  70.  75.]
 [ 85.  90.  80.  85.]
 [ 95. 100.  90.  95.]]

In [16]:
three_line = unchanged_elements[:3]
print(tri_stroki)

[[ 5. 10.  0.  5.]
 [35. 40. 30. 35.]
 [45. 50. 40. 45.]]

In [17]:
three_line[[0,2]]=three_line[[2,0]]
print(three_line)

[[45. 50. 40. 45.]
 [35. 40. 30. 35.]
 [ 5. 10.  0.  5.]]

In [18]:
mean_values = np.mean(three_line, axis=1)
median_values = np.median(three_line, axis=1)
std_values = np.std(three_line, axis=1)

print("Среднее:", mean_values)
print("Медиана:", median_values)
print("Стандартное отклонение:", std_values)

Среднее: [45. 35.  5.]
Медиана: [45. 35.  5.]
Стандартное отклонение: [3.53553391 3.53553391 3.53553391]

In [19]:
normalized_array = three_line / np.max(three_line, axis=1, keepdims=True)
print(normalized_array)

[[0.9   1.    0.8   0.9  ]
 [0.875 1.    0.75  0.875]
 [0.5   1.    0.    0.5  ]]